/*
Rythm: 24px
side padding: 24px;
Colors:
- white: #fff;
- blue1: #33b5e6;
- bordure: #e1e1e1;
- couleur input: #2b94bb;
- green: #31c544;
- green sidebar #38e450
 */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #33b5e6;
	text-decoration: none;
}

h1 {
	margin: 48px 0 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

p {
	margin: 0 0 24px;
}

input[type="text"] {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

label {
	display: inline-block;
	vertical-align: top;
	line-height: 47px;
	margin-right: 10px;
	font-size: 14px;
}

input[type="text"],
select,
.select,
textarea {
	box-sizing: border-box;
	border: 1px solid #33b5e6;
	height: 47px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 15px;
	border-radius: 2px;
	font-size: 16px;
	color: #2b94bb;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 101, 140, 0.28);
}

textarea {
	display: block;
	width: 100%;
	margin-bottom: 12px;
	padding-top: 15px;
}

.select,
select {
	box-shadow: none;
}

.select {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input-price {
	position: relative;
	width: 90px;
	display: inline-block;
	vertical-align: top;
}

.input-price input {
	text-align: center;
	padding-right: 33px;
}

.input-price .label {
	position: absolute;
	line-height: 47px;
	top: 0;
	right: 15px;
	font-size: 18px;
	color: #2b94bb;
}

.QuantityInput {
	position: relative;
	display: inline-block;
}

.QuantityInput input {
	text-align: center;
	width: 60px;
	margin-right: 37px;
}

.QuantityInput-more,
.QuantityInput-less {
	position: absolute;
	width: 30px;
	height: 23px;
	right: 0;
	color: #33b5e6;
	display: inline-block;
}

.QuantityInput-more {
	top: 0;
	border-bottom: 1px solid #e1e1e1;
}

.QuantityInput-more .fa {
	vertical-align: text-top;
}

.QuantityInput-less {
	bottom: 0;
}

.QuantityInput-less .fa {
	vertical-align: middle;
}

.back::before {
	content: ;
}

.button {
	border: 0;
	background-color: #33b5e6;
	color: #fff;
	font-size: 16px;
	padding: 0 12px;
	border-radius: 2px;
	line-height: 36px;
	display: inline-block;
}

.btn-grey {
	background-color: #e1e1e1;
	color: #555;
	font-size: 14px;
}

.btn-xs {
	line-height: 16px;
	font-size: 11px;
	padding: 0 6px;
}

.btn-main {
	line-height: 48px;
	font-size: 20px;
	background-color: #31c544;
	border-radius: 5px;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.TopBar {
	color: #fff;
	height: 47px;
	background-color: #33b5e6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	border-top: 1px solid #46ccfb;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.TopBar-home {
	font-size: 24px;
}

.BottomBar {
	height: 71px;
	border-top: 1px solid #e1e1e1;
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
}

.BottomBar-sidebar {
	box-sizing: border-box;
	margin-right: -25px;
	width: 300px;
	background-color: #e1e1e1;
	padding: 0 25px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.BottomBar-mainAction {
	width: 275px;
}

.Main {
	flex: 1;
}

.Sidebar {
	box-sizing: border-box;
	background-color: #555;
	width: 300px;
	color: #fff;
	padding: 0 25px;
}

.Sidebar-title {
	font-weight: bold;
	margin: 48px 0;
}

.Sidebar-subtitle {
	font-weight: bold;
	margin: 24px 0;
}
